<ion-view view-title="Login" class="login-background">

  <div class="signup-form">

    <button class="button button-full button-positive icon-left ion-social-facebook" id="button-custom" ng-click="login.connectFacebook()">CONNECT WITH FACEBOOK</button>

    <p class="or-text">or sign up</p>
    
    <div class="list list-inset signup">
      <label class="item item-input">
        <span class="input-label">Email</span>
        <input type="text" placeholder="name@example.com" ng-model="login.email">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" ng-model="login.password">
      </label>
    </div>

    <button class="button button-balanced" ng-click="login.createUser()">Sign up</button>
    <!--<button class="button button-assertive" ng-click="login.removeUser()">Remove User</button>-->

    <p class="terms-text">Terms of Service and Privacy Policy</p>
  </div>
  
</ion-view>